a:hover {
    text-decoration: none;
}

h1,h2,h3,h4,h5,h6 {
    font-family: 'Gotham Bold';
}
.section-title {
    font-size: 40px;
    
}
h3 {
    font-size: 30px;
    margin-bottom: 30px;
}

@media(min-width: 768px) {
    .section-title {
        font-size: 60px;
    }
}